<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method = "post" enctype="multipart/form-data">{%csrf_token%}
        <input type="text" name="title" />
        <input type="text" name="selling_price" />
        <input type="text" name="discount_price" />
        <input type="text" name="description" />
        <input type="text" name="brand" />
        <select type="text" name="category" >
            <option value="topwear">TOpwear</option>
            <option value="lp">laptop</option>
            <option value="Mobile">Mobile</option>
            <option value="bottomwear">BW</option>
            </select>
        <input type="file" name="product_img" />
        <button type="submit">Upload</button>
    </form>
</body>
</html>