{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer LOGIN{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer login</h3>
   <hr>

   <form action="" method="post" novalidate class="shadow p-5">
  {% csrf_token%}
  {%for mesg in messages%}
  <h3>{{mesg}}</h3>
  {%endfor%}
      {%for fm in form%}
   <div class="form-group mb-3">
      {{fm.label_tag}} {{fm}}
      <small class="text-danger">
         {{fm.errors | striptags}}</small></div>
         {%endfor%}
    <input type="submit" value="Submit" class="btn btn-primary">
<br>
<div lass="text-center text-primary fw-bold">
   <a href="{%url 'passwordchange'%}" >change password?</a><br>
   <a href="{%url 'password_reset'%}" >Forget Password?</a><br>
   <small>Existing User? <a href="{%url 'customerregistration' %}" class="text-danger">have no account register?</a></small></div>

   {%if form.non_field_errors %}
   {%for error in form.non_field_errors%}
   <p class="alert alert-danger my-3">{{errors}}</p>
   {%endfor%} 
   {%endif%}
    {% comment %} <div class="text-end">
     <button type="button" class="btn btn-danger">Submit</button>
    </div>
    <br>
    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
       class="text-danger">Login Now</a> </small></div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %} {% endcomment %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}